@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:  hsl(0, 0%, 98%);
}

header {
    margin: 50px auto;
    max-width: 500px;
    text-align: center;
    
}

h1{
    font-weight: 200;
    color:hsl(234, 12%, 34%)
}


 span{
    font-weight: 600;
    
}

h3{
    margin: 0 ;
    color:hsl(234, 12%, 34%)
}

p {
    color:hsl(229, 6%, 66%);
    font-size: 14px;
    margin: 10px 0 30px;
}

.container{
 
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0 auto;
    max-width: 1440px;
   
}


.box{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width:350px;
    margin:20px;
}

.box::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 5px;
    width:100%;


}

.red::after{
    background-color: hsl(0, 78%, 62%);
}

.green::after{
    background-color: hsl(180, 62%, 55%)
}

.orange::after{
    background-color: hsl(34, 97%, 64%)
}

.blue::after{
    background-color: hsl(212, 86%, 64%)
}



.box img{
    display: block;
    margin-left: auto;
}

.box-push{
    transform: translateY(137px);
}

@media(max-width:775px){
    .box-push{
        transform: translateY(0);
    }
}

